{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
{% endblock %}
{% block title %}Knowledge{% endblock %}

{% block body %}

<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="logo-link"><img src="{{ asset('images/Logo.png') }}" alt="Logo"></a>
                    
                                   
        </div>
        <nav>
            <ul class="nav-links">
                {% if app.user is not null %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="/admin">Backoffice</a></li>
                    {% endif %}
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/logout">Se déconnecter</a></li>
                {% else %}
                    <li><a href="/" >Accueil</a></li>
                    <li><a href="/login">Se connecter</a></li>
                    <li><a href="/register">S'inscrire</a></li>
                {% endif %}
            </ul>
        </nav>

    </div>
</header>
<main>


    <h1>Paiement annulé<h1>
    <a href="/">Retour à l'accueil</a>
    
</main>
{% endblock %}
