{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body %}
<header>
    <div class="container">
        <div class="logo">
            <a href="/" class="logo-link"><img src="{{ asset('images/Logo.png') }}" alt="Logo"></a>
                    
                                   
        </div>
        <nav>
            <ul class="nav-links">
                 {% if app.user is not null %}
                    <li><a href="/">Accueil</a></li>
                     <li><a href="/cursus">cursus</a></li>
                     <li><a href="/cart">Panier</a></li>
                     <li><a href="/logout">Se déconnecter</a></li>
                 {% else %}
                     <li><a href="/" >Accueil</a></li>
                    <li><a href="/login">Se connecter</a></li>
                    <li><a href="/register">S'inscrire</a></li>
                 {% endif %}
            </ul>
        </nav>

    </div>
</header>
<main>
    <h1>Ajouter un Cursus</h1>

</main>
{% endblock %}
